@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 10px 30px;
}
.logo {
  color: #f9faf8;
  font-size: 24px;
}
.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav ul li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-section {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  padding: 70px 30px;
}
.hero-image img {
  width: 600px;
}
.hero-text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}
.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  padding: 5px 20px;
  background-color: #3882f6;
  color: #f9faf8;
  border-style: none;
  border-radius: 5px;
  font-size: 14px;
}

.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px 60px;
}
.product-section h3 {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
}
.product-section img {
  width: 250px;
  border-radius: 10px;
}
.card-container {
  display: flex;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.testimonial {
  background-color: #e5e7eb;
  padding: 100px 250px;
}
.testimonial p {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}
.testimonial h5 {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3882f6;
  padding: 30px 60px;
  margin: 60px 30px;
  border-radius: 10px;
}
.signup h5 {
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.signup p {
  font-size: 14px;
  color: #e5e7eb;
}
.signup button {
  border: 1px solid #f9faf8;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  font-size: 12px;
  padding: 20px 0;
}
